.list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    

    & > .item {
        width: 23.8888888888%;

        @media screen and (max-width: 1234px) {
            & {
                width: 23.55555%;
            }
        }
        
        @media screen and (max-width: 953px) {
            & {
                width: 31.33333%;
            }
        }
        
        @media screen and (max-width: 700px) {
            & {
                width: 48%;
            }
        }
        
        @media screen and (max-width: 470px) {
            & {
                width: 100%;
            }
        }
    }
}
