/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  /* font-family: "Noto Sans KR", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Spoqa Han Sans Neo", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  /* font-family: "Noto Sans KR", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #3D3D3D;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 전역 변수 */
  --screen-max-width: 1300px;
  --text-color-black: #3D3D3D;
  --header-height: 70px;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

header, button, main, div, section {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.screen_container {
  width: 100%;
  max-width: var(--screen-max-width);

  height: auto;

  margin: 0 auto;
  padding: 0 10px;
}