.item {
    width: 300px;
    height: 350px;

    /* border: 1px solid red; */
}

.item a > .thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.tags {
    padding: 0;
    margin: 0;
    margin-top: 3px;

    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;

    color: #999999;
    font-weight: 300;
    font-size: 14px;
}

.item a > h3 {
    margin: 0;
    margin-top: 5px;
    
    font-size: 19px;
    line-height: 26px;
    
    color: var(--text-color-black);
}

.item > a > .subtext {
    font-size: 13px;
    
    margin-top: 5px;
    color: #8C8C8C;
}

.item > .detail {
    display: flex;
    align-items: center;
    gap: 0 8px;

    margin-top: 10px;
}

.item > .detail > .line {
    width: 1px;
    height: 15px;
    
    background-color: rgba(0, 0, 0, 0.15);
}

.item > .detail > .date {
    font-size: 13px;
}

.item > .detail > a > .profile {
    gap: 0 5px;
}

.item > .detail > a > .profile > img {
    width: 23px;
    height: 23px;
}

.item > .detail > a > .profile > span {
    font-size: 13px;
    font-weight: 500;

    color: var(--text-color-black);
}

/* 로딩 */
.item.preload a > .thumbnail {
    border: none;
}

.item.preload .title {
    width: 70%;
    margin-top: 10px;
}

.item.preload .subtext {
    height: 10px;
}

.item.preload .subtext:nth-child(3) {
    margin-top: 10px;
    width: 90%;
}

.item.preload .subtext:nth-child(4) {
    margin-top: 5px;
    width: 50%;
}