.input {
    width: 400px !important;
    margin-top: 20px;
}

.btn_container {
    width: 400px;
}

.btn_container > .ok_btn {
    margin-left: auto;
    display: block;
    
    font-size: 14px;
    font-weight: 600;

    padding: 8px 15px;
    border: none;
    border-radius: 3px;

    color: white;
    background-color: #0ED951;
}