.main > .title {
    font-size: 35px;
    /* margin: 0; */
}

.main > .screen {
    display: flex;
    gap: 0 20px;

    margin-top: 10px;
}

.main > .screen > article:nth-child(2) {
    flex-grow: 1;
}

.main > .screen > .menu {
    width: 200px;
    flex-shrink: 0;
}

.main > .screen > .menu > a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.main > .screen > .menu > a > div {
    width: 100%;
    padding: 6px 10px;

    border-radius: 5px;
}

.main > .screen > .menu > a:not(:first-child) > div {
    margin-top: 5px;
}

.main > .screen > .menu > a > div:hover {
    background-color: #f5f5f5;
}

.main > .screen > .menu > a > div.active {
    background-color: #F9F9F9;
}