.title {
    font-size: 25px;
    margin: 0;
}

.input_title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

.change_btn {
    margin-top: 10px;
    margin-left: auto;

    display: block;
}

.input_field > .input {
    margin-bottom: 4px;
    padding: 8px 11px;

    border: 2px solid transparent;
}

.input_field > .input.error {
    border-color: var(--red-color);
}

.input_field > .error_text {
    font-size: 14px;
    font-weight: 500;

    color: var(--red-color);
}