.main > .head {
    display: flex;
    align-items: center;
}

.main > .head > img {
    width: 60px;
    height: 60px;

    margin-right: 16px;
}

.main > .head > ul {
    margin: 0;
    padding: 0;
}

.main > .head > ul > .title {
    font-size: 35px;
    font-weight: 800;
}

.main > .head > ul > .sub {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 500;
}

.main > .content_wrapper {
    position: relative;
    margin-top: 50px;
}

.main > .content_wrapper > .content {
    width: 100%;
}

.main > .content_wrapper > .content.enter {
    position: absolute;
    top: 0;

    transform: translateX(30%);
    opacity: 0;
}

.main > .content_wrapper > .content.enter_active {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.main > .content_wrapper > .content.exit {
    position: absolute;
    top: 0;

    transform: translateX(0%);
    opacity: 1;
}

.main > .content_wrapper > .content.exit_active {
    transform: translateX(-30%);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}