.enter {
    position: relative;
    background-color: white;

    opacity: 0;
    transition: opacity 300ms;

    z-index: 1;
}

.enter_active {
    opacity: 1;
}

.exit {
    position: fixed;
    width: 100%;
    top: var(--header-height);

    opacity: 1;
    transition: opacity 300ms;

    z-index: 0;
}

.exit_active {
    opacity: 0;
}