.main {
    display: flex;
}

.main > .content {
    flex-grow: 1;
}

.main > .side {
    width: 330px;
    margin-left: 40px;
    flex-shrink: 0;

    position: sticky;
    top: var(--header-height);

    height: max-content;
}

.main > .side > .popular > h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
}

.main > .side > .index {
    margin-bottom: 20px;
}

.main > .side > .index > h2 {
    margin: 0;
    font-size: 20px;
}

.main > .side > .index > ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.main > .side > .index > ul > li {
    position: relative;

    font-size: 14px;
    color: #999999;

    cursor: pointer;
}

.main > .side > .index > ul > li:hover {
    color: #616161;
}

.main > .side > .index > ul > *:not(:first-child) {
    margin-top: 3px;
}

.main > .side > .index > ul > .h2 {
    margin-left: 16px;
}
.main > .side > .index > ul > .h3 {
    margin-left: calc(16px * 2);
}
.main > .side > .index > ul > .h4 {
    margin-left: calc(16px * 3);
}

.main > .side > .index > ul > li > .circle {
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: -12px;

    width: 6px;
    height: 6px;

    background-color: var(--green-color);
    border-radius: 50%;
    
    transition: opacity 500ms;
}

.main > .side > .index > ul > li > .circle.hide {
    opacity: 0;
}

.main > .side > .index > ul.pre > .box {
    height: 16px;
}

.main > .side > .index > ul.pre > .box:nth-child(1) {
    width: 60px;
}

.main > .side > .index > ul.pre > .box:nth-child(2) {
    width: 100px;
}

.main > .side > .index > ul.pre > .box:nth-child(3) {
    width: 75px;
}

.main > .side > .index > ul.pre > .box:nth-child(4) {
    width: 150px;
}

.main > .side > .index > ul.pre > .box:nth-child(5) {
    width: 60px;
}

.main > .side > .index > ul.pre > .box:nth-child(6) {
    width: 180px;
}

.main > .content > .title {
    font-size: 28px;
    margin: 0;
}

.main > .content > .tags {
    display: flex;
    
    gap: 0 8px;
    
    font-size: 15px;
    color: #9A9A9A;
}

.main > .content > .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 40px;
}

.main > .content > .detail > .view {
    display: flex;
    align-items: center;
    gap: 0 5px;

    font-size: 14px;
    color: #ABABAB;
}

.main > .content > .detail > .left > p {
    display: flex;
    align-items: center;

    margin: 0;
    margin-top: 3px;

    gap: 0 8px;
}

.main > .content > .detail > .left > p > .date {
    font-size: 14px;
    font-weight: 400;

    color: #9A9A9A;
}

.main > .content > .detail > .left > p > .line {
    width: 1px;
    height: 15px;
    
    background-color: #D8D8D8;
}

.main > .content > .interaction {
    display: flex;
    justify-content: center;

    gap: 0 10px;

    margin: 50px 0;
}

.main > .content > .interaction > button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 40px;

    padding: 0 15px;
    background-color: transparent;

    border-radius: 100px;
    border: 1px solid #D8D8D8;
    color: #D8D8D8;

    font-size: 14px;
}

.main > .content > .interaction > button:hover {
    border: 1px solid #b7b7b7;
}

.main > .content > .interaction > .good > section {
    display: flex;
    align-items: center;

    gap: 0 5px;
}

.main > .content > .interaction > .good > section > img {
    height: 18px;
}

.main > .content > .interaction > .share > img,
.main > .content > .interaction > .other > img {
    width: 18px;
    height: 18px;
}

.main > .content > .interaction > .other > img {
    opacity: 0.5;
}

.main > .content > .chat_main {
    margin-bottom: 20px;
}

.main > .content > .chat_main > h2 {
    margin: 0;
}

.main > .content > .chat_main > h2 > span {
    color: #88D57A;
}

.main > .content > .chat_main .input_container {
    margin-top: 8px;
}

.main > .content > .chat_main .input_container > .interaction > .send {
    display: flex;
    transition: background-color 300ms;
}

.main > .content > .chat_main .input_container > .interaction > .send:disabled {
    background-color: #dadada;
}

.main > .content > .chat_main .input_container > .interaction > .close {
    background-color: #cecece;
}

.main > .content > .chat_main .input_container > textarea {
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    box-sizing: border-box;

    background-color: #EFEFEF;
    border-radius: 6px;
    border: none;

    outline: none;

    resize: none;
}

.main > .content > .chat_main .input_container > textarea::placeholder {
    color: #A6A6A6;
    font-size: 14px;
}

.main > .content > .chat_main .input_container > .interaction {
    display: flex;
    gap: 0 5px;
    justify-content: right;
}

.main > .content > .chat_main > .list > .box:not(:first-child) {
    margin-top: 15px;    
}


.main > .content > .chat_main > .list > .box > .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main > .content > .chat_main > .list > .box > .detail > .info {
    display: flex;
    align-items: center;
}

.main > .content > .chat_main > .list > .box > .detail > .info > .one {
    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: #D8D8D8;
    
    margin: 0 6px;
}

.main > .content > .chat_main > .list > .box > .detail > .info > .nametag > span {
    font-size: 14px;
}

.main > .content > .chat_main > .list > .box > .detail > .info > .date {
    color: #AAAAAA;
    font-size: 12px;
}

.main > .content > .chat_main > .list > .box > .detail > .other {
    width: 20px;   
    height: 20px;

    visibility: hidden;
}

.main > .content > .chat_main > .list > .box:hover > .detail > .other {
    visibility: visible;
}

.main > .content > .chat_main > .list > .box > .content {
    font-size: 14px;
    font-weight: 500;

    margin-top: 3px;
    margin-bottom: 5px;
}

.main > .content > .chat_main > .list > .box > .interaction {
    display: flex;
    align-items: center;
    
    gap: 0 13px;
}

.main > .content > .chat_main > .list > .box > .interaction > .reply {
    width: 18px;
    height: 18px;
}

.main > .content > .chat_main > .list > .box > .interaction > .good {
    padding: 0;
    border: none;
    background-color: transparent;
}

.main > .content > .chat_main > .list > .box > .interaction > .good > section {
    display: flex;
    align-items: center;
    
    gap: 0 5px;

    font-size: 13px;
    color: #B3B3B3;
}

.main > .content > .chat_main > .list > .box > .interaction > .good > section > img {
    width: 18px;
    height: 18px;    
}

.main > .content > .chat_main > .list > .box > .interaction > .reply_open {
    font-size: 12px;
    padding: 5px 8px;
    
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #B3B3B3;
}

.main > .content > .chat_main > .list > .box > .interaction > .reply_open:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #585858;
}

.main > .content > .chat_main button.more {
    width: 100%;
    padding: 8px 0;
    background-color: #EEEEEE;
    
    border: none;
    border-radius: 5px;
    
    color: var(--text-color-black);
    font-size: 14px;
    font-weight: 500;

    justify-content: center;
    
    margin-top: 20px;
}

.main > .content > .chat_main button.more > .spinner,
.main > .content > .chat_main > .list > .reply_spinner {
    background: radial-gradient(farthest-side, #000000 94%, #0000) top / 5px 5px no-repeat, conic-gradient(#0000 30%, #000000);
    opacity: 0.3;
}

.main > .content > .chat_main button.more_reply {
    background-color: #EEEEEE;
    border-radius: 30px;
    
    padding: 8px 15px;
    border: none;
    color: var(--text-color-black);
    font-weight: 500;
    margin-top: 10px;
}

.main > .content > .chat_main > .list > .reply_spinner {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.main > .content > .chat_main .reply_left {
    margin-left: 15px;
}

.main > .popular > .item {
    margin-bottom: 7px;
}

/* 로당 */
.main > .content.loading > .title {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.main > .content.loading > .tags {
    margin-top: 5px;
}

.main > .content.loading > .tags > .tag {
    width: 40px;
}

.main > .content.loading > .tags > .tag:nth-child(2) {
    width: 80px;
}

.main > .content.loading > .tags > .tag:nth-child(3) {
    width: 80px;
}

.main > .content.loading > .detail > .left > .user {
    width: 80px;
    height: 23px;
}

.main > .content.loading > .detail > .left > .sub {
    width: 200px;
    height: 15px;

    margin-top: 5px;
}

.main > .content.loading > .content {
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .main > .side {
        width: 100%;

        margin: 0;
        margin-top: 20px;
    }
}