.main {
    position: absolute;
    right: 20px;
    
    margin-top: 10px;

    width: 300px;
    height: max-content;
}

.main > .box {
    display: flex;
    align-items: center;

    gap: 0 10px;

    padding: 15px 16px;
    border-radius: 8px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    width: 100%;
    background-color: white;
}

.main > .box > img {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.main > .box > span {
    flex-grow: 1;
    color: #747483;
    font-size: 14px;
}

.main > .box > .close_btn {
    width: 18px;
    height: 18px;
    flex-shrink: 0;

    display: none;
}

.main > .box:hover > .close_btn {
    display: initial;
}

.main > .box:hover > .close_btn > img {
    display: block;
}

.main > .box:not(:first-child) {
    margin-top: 12px;
}

.main > .box.enter {
    transform: translateX(30%);
    opacity: 0;
}

.main > .box.enter_active {
    transform: translateX(0);
    opacity: 1;

    transition: transform 250ms, opacity 250ms;
}

.main > .box.exit {
    transform: translateX(0);
    opacity: 1;
}

.main > .box.exit_active {
    transform: translateX(30%);
    opacity: 0;

    transition: transform 250ms, opacity 250ms;
}