.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h1 {
        margin: 0;
    }

    @media screen and (max-width: 500px) {
        & {
            flex-direction: column;
            align-items: start;
            gap: 5px 0;
        }
    }
}