.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.main > .title {
    display: flex;
    align-items: center;

    width: max-content;
    text-wrap: nowrap;

    font-size: 35px;
    gap: 0 13px;

    margin: 0;
    margin-bottom: 3px;
}

.main > .title > img {
    height: 30px;
    margin: 0;
}

.main > .subtitle {
    font-size: 22px;
}

.main > .login_form {
    width: 370px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

.main > .login_form > input {
    width: 100%;

    padding: 10px 13px;
    margin-bottom: 10px;

    font-size: 15px;
    font-weight: 500;

    background-color: #F7F7F8;
    border: none;
    border-radius: 5px;

    box-sizing: border-box;
}

.main > .login_form > .find {
    width: 100%;
    
    font-size: 13px;
    color: #ABABAB;
}

.main > .login_form > .login {
    width: 100%;
    padding: 8px 0;
    margin-top: 20px;

    font-size: 15px;
    font-weight: 800;

    border: none;
    border-radius: 3px;
    background-color: var(--green-color);
    color: white;
}

.main > .text_line {
    position: relative;

    margin-top: 60px;
    margin-bottom: 30px;
    
    width: 500px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.main > .text_line > div {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 13px;
    color: gray;

    background-color: white;
    padding: 0 10px;
}

.main > .social_login {
    display: flex;
    gap: 0 20px;
}

.main > .social_login > button {
    width: 55px;
    height: 55px;

    padding: 13px;

    border: none;
    background-color: #F4F4F4;
    border-radius: 50%;
}

.main > .social_login > button > img {
    width: 100%;
    height: 100%;
}

.main > .social_login > button.discord {
    background-color: #5865F2;
}