.main > .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main > .head > .info {
    font-size: 16px;
    display: flex;
}

.main > .head > .info > .amount {
    margin-left: 5px;
}

.main > .head > .info > .amount > .load {
    display: inline-block;
    width: 100px;
}

.main > .head > .sort > button {
    height: 30px;
    padding: 0 13px;

    border: none;
    border-radius: 30px;

    margin-left: 10px;

    color: rgb(105, 105, 105);
    background-color: #F6F6F6;
}

.main > .head > .sort > button.active {
    background-color: black;
    font-weight: 500;
    color: white;
}

.main > .pagination {
    display: flex;
    justify-content: center;

    gap: 0 6px;

    height: 30px;
}

.main > .pagination > button {
    height: 100%;
    
    font-size: 15px;
    font-weight: 500;

    border: none;
    padding: 5px 12px;
    border-radius: 5px;

    background-color: transparent;
}

.main > .pagination > button:hover {
    background-color: #F1F1F1;
}

.main > .pagination > button.icon > img {
    height: 100%;
    display: block;
}

.main > .pagination > button.icon.revert > img {
    transform: rotateZ(180deg);
}

.main > .pagination > button.icon {
    padding: 9px;
    width: 32px;
}

.main > .pagination > button.active {
    background-color: #161616;
    color: white;
}

.main > .pagination > button.pre {
    padding: 0;
}

.main > .pagination > button.pre > .pre_box {
    width: 32px;
    height: 30px;
}

.main > .list {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.main > .list > .item {
    width: 23.8888888888%;
}

@media screen and (max-width: 1234px) {
    .main > .list > .item {
        width: 23.55555%;
    }
}

@media screen and (max-width: 953px) {
    .main > .list > .item {
        width: 31.33333%;
    }
}

@media screen and (max-width: 700px) {
    .main > .list > .item {
        width: 48%;
    }
}

@media screen and (max-width: 470px) {
    .main > .list > .item {
        width: 100%;
    }
}

/* κ²€μƒ‰ μΈν’‹ */
.search_box {
    width: 100%;
    height: 45px;
    border-radius: 50px;

    padding: 10px 15px;
    gap: 0 10px;

    display: flex;
    align-items: center;
    
    background-color: #EEEEF0;
}

.search_box > .icon {
    height: 20px;
}

.search_box > .clear {
    border: none;
    background-color: transparent;
    display: flex;

    padding: 0;

    width: 15px;
    height: 15px;
}

.search_box > .clear > img {
    width: 100%;
    height: 100%;
}

.search_box > input {
    font-size: 16px;

    flex-grow: 1;
    background-color: transparent;
    border: none;

    outline: none;
}