.main > .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main > .head > .info {
    font-size: 16px;
}

.main > .head > .info > .amount {
    display: inline-flex;
}

.main > .head > .info > .amount > .load {
    display: inline-block;
    width: 100px;
    margin-left: 3px;
    margin-right: 5px;

    transform: translateY(5px);
}

.main > .head > :nth-child(2) {
    flex-shrink: 0;
}

/* κ²€μƒ‰ μΈν’‹ */
.search_box {
    width: 100%;
    height: 45px;
    border-radius: 50px;

    padding: 10px 15px;
    gap: 0 10px;

    display: flex;
    align-items: center;
    
    background-color: #EEEEF0;
}

.search_box > .icon {
    height: 20px;
}

.search_box > .clear {
    border: none;
    background-color: transparent;
    display: flex;

    padding: 0;

    width: 15px;
    height: 15px;
}

.search_box > .clear > img {
    width: 100%;
    height: 100%;
}

.search_box > input {
    font-size: 16px;

    flex-grow: 1;
    background-color: transparent;
    border: none;

    outline: none;
}

@media screen and (max-width: 500px) {
    .main > .head {
        align-items: start;
        flex-direction: column;
        
        gap: 5px 0;
    }    
}